.lastComics {
  padding-left: 20px;
  /* width: 1376px; */
}

@media screen and (min-width: 768px) {
  .lastComics {
   padding: 0 0 0 32px
  }
}

@media screen and (min-width: 1440px) {
  .lastComics {
    display: grid;
    place-content: center;
    padding: 0 0 112px;
  }
}

.lastComics-uppertitle {
  font-size: 28px;
  font-weight: 500;
  font-style: normal;

  align-items: center;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--light-font-color);
}

@media screen and (min-width: 768px) {
  .lastComics-uppertitle {
    font-size: 44px;
  }
}

.lastComics-svg {
  display: none;
}

@media screen and (min-width: 769px) {
  .lastComics-svg {
    display:initial;
    fill: #34387F;
    cursor: pointer
  }
}

.lastComics-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 0 0 44px;
  margin-bottom: 44px;
}

@media screen and (min-width: 768px) {
  .lastComics-header {
    padding: 0 32px 0 64px;
    margin-bottom: 64px;
  }
}

.lastComics-list {
  display: flex;
  /* align-items: center; */
  overflow-x: auto;
  column-gap: 16px;
  margin: 0 auto;
  overflow-x: auto;
}

.lastComics-list::-webkit-scrollbar {
  display: none;
}

.lastComics-item {
  width: 323px;
  height: auto;
  cursor: pointer;
  flex-shrink: 0;
  flex-basis: auto;
}

@media screen and (min-width: 768px) {
  .lastComics-item {
    width: 448px;
  }
}
/* } @media screen and (min-width: 769px) {
    flex-basis: null;
} */

.lastComics-img {
  width: 323px;
  height:374px;
  border-radius: 8px;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .lastComics-img {
    width: 448px;
    height: 519px;
  }
}

.lastComics-span {
  display: flex;
  flex-direction: column;
  padding-top: 14px;
}

@media screen and (min-width: 1440px) {
  .lastComics-span {
    padding-top: 16px;
  }
}

.lastComics-date {
  display: flex;
  align-items: center;

  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: -0.02em;
  padding-bottom: 4px;

  color: var(--light-font-color);
}

@media screen and (min-width: 768px) {
  .lastComics-date {
    font-size: 24px;
    padding-bottom: 8px;
  }
}

.lastComics-name {
  align-items: center;

  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: rgba(250, 250, 250, 0.5);
}

.lastComics-container-btn {
  display: flex;
  flex-direction: inherit;
  justify-content: center;
  align-items: center;
  gap: 14px;
  padding-top: 20px;
  padding-bottom: 80px;
}

@media screen and (min-width: 768px) {
  .lastComics-container-btn {
    gap: 16px;
    padding-top: 32px;
    padding-bottom: 128px;
  }
}

@media screen and (min-width: 769px) {
  .lastComics-container-btn {
    display: none;
  }
}

.lastComics-scroll-btn {
  display: grid;
  place-content: center;
  border: 1px solid #fafafa;
  border-radius: 50%;
  background: transparent url("../images/svg/Vector-11.svg") no-repeat center/50%;
  width: 32px;
  height: 32px;

  cursor: pointer;
}

.lastComics-scroll-btn:focus:hover {
  background: #34387F url("../images/svg/Vector-11-white.svg") no-repeat center/50%;
  border-color: #34387F;
}

.lastComics-scroll-btn--right {
  transform: rotate(180deg);
}

@media screen and (min-width: 768px) {
  .lastComics-scroll-btn {
    width: 44px;
    height: 44px;
    background: transparent url("../images/svg/Vector-11.svg") no-repeat center;
  }

  .lastComics-scroll-btn:focus:hover {
    background: #34387F url("../images/svg/Vector-11-white.svg") no-repeat center;
    border-color: #34387F;
  }

  .lastComics-scroll-btn--right {
    transform: rotate(180deg);
  }
}


.slides-container {
  overflow: hidden;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.slides-container::-webkit-scrollbar {
  display: none;
}